language: python
python: 3.6
env:
  - TOXENV=py26
  - TOXENV=py27
  - TOXENV=py35
  - TOXENV=py36
install:
  - pip install tox
script:
  - tox
notifications:
    webhooks: https://www.travisbuddy.com/
